{% extends "base.html" %}
{% block title %} Home {%endblock%}

{% block content %}

{% if user.is_authenticated %}
<br>
<br>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item rounded" {%if note.seats_available > 0%} style="background-color:  #006747; color:white;" {%else%} style="background-color: #466069;color: black;"{%endif%}>
        {%if note.term[4:6] == "05"%}
        Summer 
        {%elif note.term[4:6] =="08"%}
        Fall
        {%else%}
        Spring
        {% endif %}
        {{note.term[0:4]}} <br>
        {{note.course_info}}
        ({{ note.data }})
        <br>
        Seats Availiable: {{ note.seats_available }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {%endfor%}
</ul>

<br>

<label for="addNote_btn">Add Courses Here:</label>
<form method="POST">
    <div class="form-group">
        <input name="note" id="note" class="form-control" placeholder="Enter CRN" required></input>
    </div>
    <div class="form-group">
        <select class="form-control" name="note-term" id="note-term" placeholder="Select Course Term" required>
            <option value="" disabled selected>Select Course Term</option>
            <option value="202408">Fall 2024</option>
            <option value="202405">Summer 2024</option>
        </select>
    </div>
    <div align="center">
        <button type="submit" id="addNote_btn" class="btn btn-primary">Add Note</button>
        <button type="button" id="refreshButton" class="btn btn-primary">Refresh</button>
    </div>
</form>
<br>

{% else %}
<br>
<h1 align="center">USF Course Availability Tracker</h1>
<br>
<ul>
    <li>Streamline your course management experience with our intuitive web app designed exclusively for the University of South Florida community. </li>
    <li>Easily add and update courses, while staying informed about seat availability in real-time. </li>
    <li>Say goodbye to the hassle of manually tracking course openings – USF Course Availability Tracker puts you in control of your academic journey.</li>
    <li> Join us today and simplify your course selection process!</li>
</ul>

<a class="nav-item nav-link" align="center" id="login_home" href="/login">Login</a>
<a class="nav-item nav-link" align="center" id="signUp_home" href="/sign-up">Don't have an account?</a>
{% endif %}

{% endblock %}